@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
#root {
  width: 100%;
  min-height: 100vh;
  color: #3f4953;
  background-color: #dee2e6;
  font-family: "Comfortaa", cursive, sans-serif;
}
#root * {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}
#root .App {
  margin: auto;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 100vh;
  height: 100vh;
  max-width: 100%;
  flex-direction: column-reverse;
}
@media (min-width: 576px) and (orientation: landscape) {
  #root .App {
    height: 100vh;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  #root .App {
    height: 100vh;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #root .App {
    height: 100vh;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #root .App {
    height: 100vh;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  #root .App {
    height: initial;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  #root .App {
    height: initial;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  #root .App {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  #root .App {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #root .App {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #root .App {
    max-width: 500px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  #root .App {
    max-width: 1500px;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  #root .App {
    max-width: 1500px;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  #root .App {
    flex-direction: row-reverse;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  #root .App {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #root .App {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #root .App {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  #root .App {
    flex-direction: row;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  #root .App {
    flex-direction: row;
  }
}

._panels {
  position: relative;
  width: 100%;
}
._panels#_menu {
  overflow: auto;
  height: 100%;
  width: 100%;
  height: auto;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels#_menu {
    width: auto;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels#_menu {
    width: 100%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels#_menu {
    width: auto;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels#_menu {
    width: 100%;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels#_menu {
    width: 50%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels#_menu {
    width: 50%;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels#_menu {
    height: 100%;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels#_menu {
    height: auto;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels#_menu {
    height: 100%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels#_menu {
    height: auto;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels#_menu {
    height: 100%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels#_menu {
    height: 100%;
  }
}
._panels#_body {
  flex: 1;
  height: 100%;
}
._panels#_body > div {
  width: 100%;
  height: 100%;
  padding: 16px;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels#_body > div {
    padding: 16px;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels#_body > div {
    padding: 16px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels#_body > div {
    padding: 16px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels#_body > div {
    padding: 16px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels#_body > div {
    padding: 24px;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels#_body > div {
    padding: 24px;
  }
}
._panels::before {
  content: "";
  display: block;
  padding-top: auto;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels::before {
    padding-top: auto;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels::before {
    padding-top: auto;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels::before {
    padding-top: auto;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels::before {
    padding-top: auto;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels::before {
    padding-top: 100%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels::before {
    padding-top: 100%;
  }
}
._panels > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: initial;
  flex-direction: row;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels > div {
    position: initial;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels > div {
    position: initial;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels > div {
    position: initial;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels > div {
    position: initial;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels > div {
    position: absolute;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels > div {
    position: absolute;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels > div {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels > div {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels > div {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels > div {
    flex-direction: row;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels > div {
    flex-direction: column;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels > div {
    flex-direction: column;
  }
}
._panels ul {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul {
    flex-direction: row;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul {
    flex-direction: row;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul {
    flex-direction: row;
  }
}
._panels ul:nth-child(2) {
  order: -1;
  order: -1;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul:nth-child(2) {
    order: 0;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul:nth-child(2) {
    order: 0;
  }
}
._panels ul:nth-child(2) li:nth-child(2) {
  order: -1;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: -1;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: 0;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul:nth-child(2) li:nth-child(2) {
    order: 0;
  }
}
._panels ul li {
  position: relative;
  width: 112px;
  height: 112px;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul li {
    width: 112px;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul li {
    width: 112px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul li {
    width: 112px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul li {
    width: 112px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul li {
    width: 100%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul li {
    width: 100%;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul li {
    height: 112px;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul li {
    height: 112px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul li {
    height: 112px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul li {
    height: 112px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul li {
    height: 100%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul li {
    height: 100%;
  }
}
._panels ul li > div {
  width: 100%;
  height: 100%;
  padding: 16px;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._panels ul li > div {
    padding: 16px;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._panels ul li > div {
    padding: 16px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._panels ul li > div {
    padding: 16px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._panels ul li > div {
    padding: 16px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._panels ul li > div {
    padding: 24px;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._panels ul li > div {
    padding: 24px;
  }
}

._detail {
  box-shadow: 8px 8px 8px #c1c9d0 inset, -8px -8px 8px #e4e7ea inset, -2px -2px 2px #cfd5db, 2px 2px 2px #e4e7ea;
  background-color: #dbdfe4;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
  width: 100%;
}
._detail > div {
  height: 100%;
  width: 100%;
}
._detail ._sptitle {
  text-align: center;
  padding: 16px 0px;
  display: initial;
}
@media (min-width: 576px) and (orientation: landscape) {
  ._detail ._sptitle {
    display: initial;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  ._detail ._sptitle {
    display: initial;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  ._detail ._sptitle {
    display: initial;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  ._detail ._sptitle {
    display: initial;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  ._detail ._sptitle {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  ._detail ._sptitle {
    display: none;
  }
}
._detail ._sptitle ._sptitle1 {
  font-size: 1.6em;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label {
  box-shadow: 8px 8px 8px #c1c9d0 inset, -8px -8px 8px #e4e7ea inset, -2px -2px 2px #cfd5db, 2px 2px 2px #e4e7ea;
  background-color: #dbdfe4;
}
input[type=radio]:disabled + label {
  cursor: default;
}

label {
  box-shadow: 8px 8px 8px #c1c9d0, -8px -8px 8px #e7eaed, 2px 2px 2px #edeff1 inset, -2px -2px 2px #c1c9d0 inset;
  background-color: #e1e5e8;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}
label > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
label .pcpanel {
  display: none;
}
@media (min-width: 576px) and (orientation: landscape) {
  label .pcpanel {
    display: none;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  label .pcpanel {
    display: none;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  label .pcpanel {
    display: none;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  label .pcpanel {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  label .pcpanel {
    display: flex;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  label .pcpanel {
    display: flex;
  }
}
label .sppanel {
  display: flex;
}
@media (min-width: 576px) and (orientation: landscape) {
  label .sppanel {
    display: flex;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  label .sppanel {
    display: flex;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  label .sppanel {
    display: flex;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  label .sppanel {
    display: flex;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  label .sppanel {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  label .sppanel {
    display: none;
  }
}
label span {
  text-align: center;
  width: 100%;
}
label svg {
  fill: currentColor;
  width: 40%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 8px;
}
h1 svg {
  width: 60%;
  height: 60%;
  fill: #3f4953;
}
@media (min-width: 576px) and (orientation: landscape) {
  h1 svg {
    width: 60%;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  h1 svg {
    width: 60%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  h1 svg {
    width: 60%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  h1 svg {
    width: 60%;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  h1 svg {
    width: 30%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  h1 svg {
    width: 30%;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  h1 svg {
    height: 60%;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  h1 svg {
    height: 60%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  h1 svg {
    height: 60%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  h1 svg {
    height: 60%;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  h1 svg {
    height: 30%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  h1 svg {
    height: 30%;
  }
}
h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 svg {
  width: 80%;
  fill: #c1c9d0;
}
@media (min-width: 576px) and (orientation: landscape) {
  h2 svg {
    width: 50%;
  }
}
@media (min-width: 576px) and (orientation: portrait) {
  h2 svg {
    width: 80%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  h2 svg {
    width: 50%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  h2 svg {
    width: 70%;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  h2 svg {
    width: 50%;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  h2 svg {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */