@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

$bg-color: #dee2e6;
$fw-color: darken($color: $bg-color, $amount: 60%);

@mixin Neumorphism($active) {

    $color-shadow: darken($color: $bg-color, $amount: 10%);
    $color-reflection: lighten($color: $bg-color, $amount: 2%);

    // 凹
    @if $active {
        box-shadow:
            8px 8px 8px $color-shadow inset, // 左上影
            -8px -8px 8px $color-reflection inset, // 右下反射
            -2px -2px 2px darken($color: $bg-color, $amount: 5%), // 左上エッジ影
            2px 2px 2px $color-reflection, // 右下エッジ反射
        ;
        background-color: darken($color: $bg-color, $amount: 1%);
    }

    // 凸
    @else {
        box-shadow:
            8px 8px 8px $color-shadow, // 右下影
            -8px -8px 8px lighten($color: $bg-color, $amount: 3%), // 左上反射
            2px 2px 2px lighten($color: $bg-color, $amount: 5%) inset, // 左上エッジ反射
            -2px -2px 2px $color-shadow inset, // 右下エッジ影
        ;
        background-color: lighten($color: $bg-color, $amount: 1%);
    }
}

@mixin Responsive($prop, $sm, $md, $lg) {
    #{$prop}: $sm;

    @media screen and (min-width: 576px) {
        #{$prop}: $sm;
    }

    @media screen and (min-width: 768px) {
        #{$prop}: $md;
    }

    @media screen and (min-width: 1200px) {
        #{$prop}: $lg;
    }
}

#root {
    width: 100%;
    min-height: 100vh;
    color: $fw-color;
    background-color: $bg-color;
    font-family: 'Comfortaa', cursive, sans-serif;

    * {
        box-sizing: border-box;
        outline: none;
        margin: 0;
    }

    .App {
        margin: auto;
        display: flex;
        align-items: center;
        user-select: none;
        // padding: 8px;
        @include Responsive(padding, 0px, 0px, 8px);

        @include Responsive(height, 100vh, 100vh, initial);
        @include Responsive(min-height, initial, initial, 100vh);
        @include Responsive(max-width, 500px, 500px, 1500px);
        @include Responsive(flex-direction, column-reverse, column-reverse, row);
    }
}

._panels {
    display: flex;
    @include Responsive(flex-direction, row, row, column);
    @include Responsive(padding, 8px, 8px, 0px);

    &#_menu {
        overflow: auto;
        padding-top: 0px;
        @include Responsive(width, 100%, 100%, 50%);
        @include Responsive(flex-direction, row, row, column);

        ul {
            flex-direction: row;

            li {
                @include Responsive(width, 96px, 96px, 100%);
                @include Responsive(height, 96px, 96px, 100%);
            }

            &:nth-of-type(2) {
                @include Responsive(order, -1, -1, 0);

                li:nth-of-type(1) {
                    @include Responsive(order, 2, 2, 0);
                }
            }
        }
    }

    &#_body {
        flex: 1;
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 0px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            width: 100%;
            height: 100%;

            &>div {

                input[type="radio"] {
                    display: none;

                    &:checked+label {
                        @include Neumorphism(true);
                    }

                    &:disabled+label {
                        cursor: default;
                    }
                }

                label {
                    @include Neumorphism(false);
                    @include Responsive(border-radius, 8px, 8px, 16px);
                    width: 100%;
                    height: 100%;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 8px;
                    font-size: 16px;
                    cursor: pointer;

                    // h1 {
                    //     font-size: 1.2em;
                    // }

                    p {
                        padding: 8px;
                        margin: 0;
                    }

                    span {
                        @include Responsive(display, none, none, initial);
                    }
                }
            }
        }
    }

    ._detail {
        font-size: 100%;

        &>div {
            @include Neumorphism(true);
            @include Responsive(border-radius, 8px, 8px, 16px);
            width: 100%;
            height: 100%;
            padding: 48px;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        h2 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        ._sptitle {
            text-align: center;
            padding-bottom: 16px;
            @include Responsive(display, initial, initial, none);

            ._sptitle1 {
                font-size: 1.2em;
            }

            ._sptitle2 {
                font-size: 1.6em;
            }
        }
    }
}

._square {
    display: block;
    position: relative;
    height: 100%;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &>div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include Responsive(padding, 8px, 8px, 16px);
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 8px;

    svg {
        @include Responsive(width, 60%, 60%, 30%);
        @include Responsive(height, 60%, 60%, 30%);

        fill: $fw-color;
    }
}

h2 {
    svg {
        @include Responsive(width, 100%, 70%, 50%);
        fill: darken($color: $bg-color, $amount: 10%);
    }
}